@use '../utils' as *;

/*----------------------------------------*/
/*  ALL Animation CSS START
/*----------------------------------------*/
//////////////////////////
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}