@use '../utils' as *;

/*----------------------------------------*/
/*  ALL Button CSS START
/*----------------------------------------*/
//////////////////////////
.btn-group {
    display: flex;
    gap: 40px;
}



//////////////////////////
// base btn 
@mixin rs-btn {
    padding: 18.5px 30px;    
    line-height: 1;
    height: 56px;
    text-align: center;
    text-decoration: none;   
    cursor: pointer;    
    display: inline-block;
    transition: 0.5s all;
    letter-spacing: 0.6px;   
    overflow: hidden;
    position: relative;
    z-index: 9; 
    font-family: var(--body-font);
    border-radius: 30px;
    font-size: 18px;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    & i{
        transform: rotate(-45deg);
        transition: 0.2s ;
        margin-left: 5px;
    }
   

}

//////////////////////////
// hover effect btn 
@mixin after-effect {
    position: absolute;
    content: '';
    height: 100%;
    bottom: 0;
    left: 0;
    width:0;
    border-radius: inherit;
    z-index: -1;
    transition: 0.5s;
}


////////////////////
/// yellow btn 
.rs-btn-yellow {
    @include rs-btn;
    background: var(--theme-color-2);
    color: var(--title-color);   
    &::after {
        @include after-effect;
        background: var(--theme-color-1);
    }
    &:hover {
        color: var(--white);
        border-color: var(--theme-color-1);
        background: var(--theme-color-1);
        &::after {
            width:100%;
        }
        & i{
            transform: rotate(0);
        }
    }
}

////////////////////
/// transparent btn 
.hero-transparent{
    @include rs-btn;
    border: 1px solid;   
    border: 1px solid var(--white);
    color: var(--white);
    &::after {
        @include after-effect;
        background: var(--white);
    }
    &:hover {
        color: var(--black);
        border-color: var(--white);
        background: var(--white);
        &::after {
            width:100%;
        }
        & i{
            transform: rotate(0);
        }
    }
}


////////////////////
/// blue btn 
.rs-btn-blue{
    @include rs-btn;
    background: var(--theme-color-1);
    color: var(--white);
    &::after {
        @include after-effect;
        background: var(--black);
    }
    &:hover {
        color: var(--white);
        border-color: var(--black);
        background: var(--black);
        &::after {
            width:100%;
        }
        & i{
            transform: rotate(0);
        }
    }
}

////////////////////
/// transparent btn 
.rs-btn-transparent{
    @include rs-btn;    
    border: 1px solid var(--theme-color-1);
    color: var(--theme-color-1);
    &::after {
        @include after-effect;
        background: var(--theme-color-1);
    }
    &:hover {
        color: var(--white);
        border-color: var(--theme-color-1);
        background: var(--theme-color-1);
        &::after {
            width:100%;
        }
        & i{
            transform: rotate(0);
        }
    }
}



//////////////////////////
// banner blue btn 
.banner-btn{
    @include rs-btn; 
    background: var(--theme-color-1);
    padding: 12px 18px;
    font-size: 14px;
    height: 34px;
    color: var(--white);
    &::after {
        @include after-effect;
        background: var(--black);
    }
    &:hover {
        color: var(--white);
        border-color: var(--black);
        background: var(--black);
        &::after {
            width:100%;
        }
        & i{
            transform: rotate(0);
        }
    }
}

