@use '../../utils' as *;

/*----------------------------------------*/
/*  30. about CSS START
/*----------------------------------------*/
.banner-area{
    background: var(--title-color);
    padding: 85px 0;
    .banner-content {
        padding-top: 35px;
    }
    .banner-sub {
        color: var(--theme-color-2);
        font-family: var(--title-font);
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 15px;
        display: inline-block;
        line-height: 1;
    }
   .title-banner {
        color: var(--white);
        font-size: 84px;
        margin-bottom: 12px;
    }
    .info {
        color: var(--body-color2);
        margin-bottom: 40px;
        max-width: 738px;
        margin-left: 0;
    }
}
