@use '../../utils' as *;

/*----------------------------------------*/
/*  30. Fact  CSS START
/*----------------------------------------*/
.fact-area {
    padding: 75px 0;
    .facts {
        display: flex;
        justify-content: space-between;
    }
    .fact {
        display: flex;
        gap: 15px;
        align-items: center;
        &-icon {
            border-radius: 50%;
            border: 1px solid rgba(var(--white-opacity), 0.30);
            background: rgba(var(--white-opacity), 0.10);
            backdrop-filter: blur(10px);
            display: flex;
            width: 80px;
            height: 80px;
            align-items: center;
            justify-content: center;
        }
        &-info {
            color: var(--white);
            font-size: 16px;
            font-weight: 400;
        }
        
    }
    .count-box {
        color: var(--theme-color-2);
        font-size: 64px;
        font-weight: 600;
        text-transform: capitalize;
        margin: 0;
        line-height: 1;
    }
    
}




