@use '../../utils' as *;

/*----------------------------------------*/
/*  30. testimonial  CSS START
/*----------------------------------------*/
.testimonial { 
    &-area {
        margin: 120px 0;
    }
    &-wrapper {
        border-radius: 32px;
    }
    &-content {
        padding: 80px;
        padding-left: 0;
        position: relative;
        .quote-shape {
            position: absolute;
            right: 50px;
            top: 50px;
        }
    }
}

.mml-30 {
    margin-left: -30px;
}


.slide {
    &-content {
        p {
            color: var(--white);
            font-family: var( --body-font);
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 30px;
        }
    }
    &-author {
        display: flex;
        gap: 15px;
        align-items: center;
        &-img {
            flex: 0 0 auto;
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }
        &-name {
            color: var(--white);
            font-family: var( --body-font);
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            margin: 0;
            line-height: 1;
            margin-bottom: 5px;
        }
        &-desig {
            color: var(--body-color2);
            font-family: var( --body-font);
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 1.4px;
            line-height: 1;
            display: inline-block;   
        }
        .ratings i {
            color: var( --star-color);
            font-size: 14px;
            font-weight: 900;
            line-height: 1;
        }
    }
}




.testimonial-nav {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 80px;
    right: 80px;
    z-index: 5;
    button {
        background:  rgba(var(--white-opacity), 0.35);
        width: 45px;
        height: 45px;
        border-radius: 50%;
        color: var(--white);  
        transition: 0.3s;
        &.active {
            background: var(--theme-color-2);
            color: var(--title-color);
        }
        &:hover{
            background: var(--theme-color-2);
            color: var(--title-color);
        }
        
    }
}



