@use '../../utils' as *;

/*----------------------------------------*/
/*  30. trending  CSS START
/*----------------------------------------*/
.trending-tab-area {
    padding: 120px 0;
    .tab-header {
        display: flex;
        gap: 30px;
        align-items: center;
        margin-bottom: 50px;
    }
    
    .tabs {
        display: flex;
        align-items: center;
    }
    .tab-hr {
        height: 1px;
        background: var(--border-color);
        flex: 1;
    }
    
    .tab {
        cursor: pointer;
        border-radius: 50px;
        border: 1px solid var(--border-color);
        background: var(--white);
        color: var(--title-color);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 600;
        margin-right: 10px;
        padding: 9px 44px;
    }
    .tab-nav {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .tab-nav button {
        width: 45px;
        height: 45px;
        color: var(--theme-color-1);
        background: var(--smoke-color-2);
        border-radius: 50%;
        &:hover{
            color: var(--white);
            background: var(--theme-color-1);
        }
        &.active{
            color: var(--white);
            background: var(--theme-color-1); 
        }
    }
    .tab.active {
        background: var(--theme-color-1);
        color: var(--white);
    }
    
    .tab-content {
        display: none;
    }
    
    .tab-content.active {
        display: block;
    }
}


